# docker-compose.prod.yml

services:
  frontend:
    build:
      context: .
      dockerfile: ./Dockerfile.frontend
      args:
        NEXT_PUBLIC_APP_ENV: ${NEXT_PUBLIC_APP_ENV}
        NEXT_PUBLIC_API_BASE: ${NEXT_PUBLIC_API_BASE}
    env_file:
      - ./deploy/frontend.prod.env
    ports:
      - "3000:3000"
    depends_on:
      - backend
    networks:
      - appnet

  backend:
    build:
      context: ./backend
      dockerfile: ./Dockerfile.backend
    env_file:
      - ./deploy/backend.prod.env
    ports:
      - "8000:8000"
    depends_on:
      - redis
    networks:
      - appnet

  redis:
    image: redis/redis-stack:latest
    volumes:
      - redis_data:/data
    networks:
      - appnet

networks:
  appnet:

volumes:
  redis_data: